name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17' ]
        scala: [ '2.12.16' ]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v3.4.1
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: print Java version
      run: java -version
    - name: Coursier cache
      uses: coursier/cache-action@v6.3.3
    - name: Run tests
      run:  sbt ++${{ matrix.scala }} "^ test; scripted"
